.header{
    background-color: #5C2E91;
    height: 100px;
    display: flex;
    position: relative;
    padding: 24px;
    padding-right: 180px;
    justify-content: flex-end;
    align-items: center;
}

.logos{
    display: flex;
    align-items: center;

   img{
    margin-left: 80px;
}

    
}

 
body{
    margin: 0px;
}