h1{
    color: blue;
}


.form-row{
    button{
        background-color: #7D3EC4;
        color: #F6EDED;
        border-radius: 50px;
        margin-top: 20px;
    }
}

.woocommerce-form-row .form-row{
    background-color: #7D3EC4;
    color: #F6EDED;
    border-radius: 50px;
    margin-top: 20px;
}


.woocommerce-form .woocommerce-form-login .login{
    input{
        background-color: white;
    }
}


.password-input{
    input{
        background-color: white;
    }
}


.password-input{
    input{
        background-color: white;
    }
}


